
<div class="row">
	<div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
		<form id="form" class="panel panel-default" action="#">
			<div class="panel-heading">Informações Básicas da Carteira de Acesso</div>
			<div class="panel-body no-bottom">
				<input type="hidden" id="id_carteiraAcesso" name="id_carteiraAcesso" value="<%=(item ? item.id_carteiraAcesso : 0) %>" />
				<div class="form-group">
					<label for="validade_carteiraAcesso">Validade</label>
					<input id="validade_carteiraAcesso" name="validade_carteiraAcesso" maxlength="50" class="form-control upper" type="text" spellcheck="false" value="<%=(item ? item.validade_carteiraAcesso : '') %>" />
				</div>
				<div class="form-group">
					<label for="id_aluno">Disciplina</label>
					<select id="id_aluno" name="id_aluno" class="form-control" size="1">
					  <option value="">SELECIONE...</option>
					  <% for (var i = 0; i < aluno.length; i++) { %>
					   <option value="<%=aluno[i].id_aluno %>" <%=(item && item.id_aluno == aluno[i].id_aluno ? 'selected="selected"' : '')%>><%=aluno[i].nome_aluno %></option>
					   <% } %>
					  </select>
				  </div>
			</div>
			<div class="panel-footer">
				<input value="<%=(item ? 'Salvar Alterações' : 'Criar Carteira de Acesso') %>" class="btn btn-primary btn-lg btn-block" type="submit" />
			</div>
		</form>
	</div>
</div>

<%- contentFor("scripts") %>
<script type="text/javascript">
	//<![CDATA[
	"use strict";

	$("#form").validate({
		rules: {
			
		},

		submitHandler: function (form) {
			if (JsonWebApi.active)
				return;

			Notification.wait();

			//<% if (item)  { %>

			JsonWebApi.postFormData("/api/carteiraAcesso/alterar", form, function (response) {
				if (response.success)
					Notification.success("Carteira de Acesso alterada com sucesso! \uD83D\uDE04");
				else
					Notification.error(response.value, true);
			});

			//<% } else { %>

			JsonWebApi.postFormData("/api/carteiraAcesso/criar", form, function (response) {
				if (response.success) {
					form.reset();
					$("#form").validate().resetForm();
					Notification.success("Carteira de Acesso criada com sucesso! \uD83D\uDE04");
				} else {
					Notification.error(response.value, true);
				}
			});

			//<% } %>
		}
	});
	//]]>
</script>
