
<div class="row">
	<div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
		<form id="form" class="panel panel-default" action="#">
			<div class="panel-heading">Informações Básicas do Aluno</div>
			<div class="panel-body no-bottom">
				<input type="hidden" id="id_aluno" name="id_aluno" value="<%=(item ? item.id_aluno : 0) %>" />
				<div class="form-group">
					<label for="nome_aluno">Nome</label>
					<input id="nome_curso" name="nome_aluno" maxlength="50" class="form-control upper" type="text" spellcheck="false" value="<%=(item ? item.nome_aluno : '') %>" />
				</div>
				<div class="form-group">
					<label for="data_nascimento_aluno">Data de Nascimento</label>
					<input id="data_nascimento_aluno" name="data_nascimento_aluno" maxlength="50" class="form-control upper" type="text" spellcheck="false" value="<%=(item ? item.data_nascimento_aluno : '') %>" />
				</div>
				<div class="form-group">
					<label for="id_curso">Curso</label>
					<select id="id_curso" name="id_curso" class="form-control" size="1">
					  <option value="">SELECIONE...</option>
					  <% for (var i = 0; i < curso.length; i++) { %>
					   <option value="<%=curso[i].id_curso %>" <%=(item && item.id_aluno == curso[i].id_curso ? 'selected="selected"' : '')%>><%=curso[i].nome_curso %></option>
					   <% } %>
					  </select>
				  </div>
			</div>
			<div class="panel-footer">
				<input value="<%=(item ? 'Salvar Alterações' : 'Criar Curso') %>" class="btn btn-primary btn-lg btn-block" type="submit" />
			</div>
		</form>
	</div>
</div>

<%- contentFor("scripts") %>
<script type="text/javascript">
	//<![CDATA[
	"use strict";

	$("#form").validate({
		rules: {
			nome_aluno: {
				required: true,
				minlength: 3,
				maxlength: 50
			},
			nome_curso: {
				required: true,
				minlength: 3,
				maxlength: 50
			},
			data_nascimento_aluno: {
				required: true,
				minlength: 3,
				maxlength: 50
			},
		},

		submitHandler: function (form) {
			if (JsonWebApi.active)
				return;

			Notification.wait();

			//<% if (item)  { %>

			JsonWebApi.postFormData("/api/aluno/alterar", form, function (response) {
				if (response.success)
					Notification.success("Aluno alterado com sucesso! \uD83D\uDE04");
				else
					Notification.error(response.value, true);
			});

			//<% } else { %>

			JsonWebApi.postFormData("/api/aluno/criar", form, function (response) {
				if (response.success) {
					form.reset();
					$("#form").validate().resetForm();
					Notification.success("Aluno criado com sucesso! \uD83D\uDE04");
				} else {
					Notification.error(response.value, true);
				}
			});

			//<% } %>
		}
	});
	//]]>
</script>
